@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100vh; /* Force height to screen size */
    overflow: hidden; /* Disable body scrolling */
    margin: 0;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 16px;
    height: calc(100vh - 32px);
    margin: 32px 0 0 40px;
}

.side-bar {
    grid-column: 1 / span 3;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 20px;
}

.content {
    grid-column: span 13;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 40px;
    padding-right: 40px;
    scrollbar-gutter: stable;
}

.filters2, .filters{
    display: flex;
    width: 100%;
    grid-column: 4 / span 16;
    gap: 16px;
    margin-bottom: 16px;
}

.analytics {
    display: flex;
    gap: 8px;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 16px;
    width: 100%;
}

@media (min-width: 768px) {
    .dashboard-grid {
        grid-template-columns: repeat(13, minmax(0, 1fr));
    }
}
