*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* 4. DESKTOP (Media Query): 16 Columns */
/* `xl` is 1280px. This is a standard Tailwind breakpoint. */
@media (min-width: 1280px) {
    .login-container {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        min-height: 100vh;
    }

    .login-left-column {
        grid-column: span 9;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
        background-image: linear-gradient( #1d4fd8da, #241092ce), url("/public/images/bg-namayan.png");
        height: 100%;
    }

    .login-right-column {
        grid-column: span 7;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .login-header-text {
        display: flex;
        align-items: center;
        gap: 1rem;
        filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.438));
    }
    .login-header-text img {
        height: 110px;
        width: 110px;

    }
}



